.header {
  height: 56px;
  background: #045d8b;
  border-radius: 0px 0px 16px 16px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    filter: brightness(100);
  }

  .title,
  .date,
  .nav-menus {
    width: 33%;
    display: flex;
    justify-content: center;
  }

  .title {
    color: #ffffff;
    font-weight: 700;
    font-size: 25px;
  }

  .date {
    font-weight: 500;
    font-size: 20px;
  }
}
